mixin footer(img,h4,p1,p2,p3,p4)
	.bg-fondo.bg-fondo
		.container-fluid
			.footer
				.fila.pd.col-md-8.col-md-offset-2
					.col-md-3.pd-top-all.colum-logo
						img.img-responsive(src=img)
						h4.text-center 
							strong=h4
						p=p1
						p=p2
						p=p3
						p=p4
					.col-md-9.b-left
						.row
							.col-md-3.hidden-xs
								ul.pd-left.font-text
									li
										a.color-n(href="#") Roger Federer
									li 
										a.color-n(href="#") SBS
									li 
										a.color-n(href="#") Scarlett Johansson
									li
										a.color-n(href="#") Scotiabank
									li 
										a.color-n(href="#") Selena Gomez
									li
										a.color-n(href="#") Scotiabank
									li 
										a.color-n(href="#") Selena Gomez
									li 
										a.color-n(href="#") Spiderman
									li 
										a.color-n(href="#") Sporting Cristal
									li 
										a.color-n(href="#") Sunat
									li 
										a.color-n(href="#") Telefonica del Perù
									li 
										a.color-n(href="#") The Walking Dead
									li 
										a.color-n(href="#") Twitter
									li 
										a.color-n(href="#") Universidad San Martin
									li 
										a.color-n(href="#") Universitario de Deportes
									li 
										a.color-n(href="#") Youtube
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") BBVA
									li 
										a.color-n(href="#") Xbox
									li 
										a.color-n(href="#") BCP
							.col-md-3.hidden-xs
								ul.pd-left.font-text
									li 
										a.color-n(href="#") Al fondo hay sitio
									li 
										a.color-n(href="#") Alejandro Toledo
									li 
										a.color-n(href="#") Pablo Escobar
									li 
										a.color-n(href="#") Alianza Lima
									li 
										a.color-n(href="#") Pension 65
									li 
										a.color-n(href="#") Banco de la Nación
									li 
										a.color-n(href="#") Precio del dòlar
									li 
										a.color-n(href="#") Universidad Cesar Vallejo
									li 
										a.color-n(href="#") Universidad San Martin
									li 
										a.color-n(href="#") Premier League
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") BBVA
									li 
										a.color-n(href="#") Reniec
									li 
										a.color-n(href="#") BCP
									li 
										a.color-n(href="#") Batman
									li 
										a.color-n(href="#") PUCP
									li 
										a.color-n(href="#") Real Madrid
									li 
										a.color-n(href="#") BBVA
									li 
										a.color-n(href="#") Xbox
									li 
										a.color-n(href="#") BCP
							.col-md-3.hidden-xs
								ul.pd-left.font-text
									li 
										a.color-n(href="#") One Direction
									li 
										a.color-n(href="#") ONPE
									li 
										a.color-n(href="#") Pablo Escobar
									li 
										a.color-n(href="#") Paolo Guerrero
									li 
										a.color-n(href="#") Pension 65
									li 
										a.color-n(href="#") PNP
									li 
										a.color-n(href="#") Precio del dòlar
									li 
										a.color-n(href="#") Universidad Cesar Vallejo
									li 
										a.color-n(href="#") Universidad San Martin
									li 
										a.color-n(href="#") Premier League
									li
										a.color-n(href="#") Premier League
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") BBVA
									li
										a.color-n(href="#") Xbox
									li
										a.color-n(href="#") Xbox
									li 
										a.color-n(href="#") BCP
									li 
										a.color-n(href="#") Proyecto Conga
									li 
										a.color-n(href="#") PUCP
									li 
										a.color-n(href="#") Real Madrid
									li 
										a.color-n(href="#") Redes Sociales
									li 
										a.color-n(href="#") Reniec
									li 
										a.color-n(href="#") Robert Pattinson
							.col-md-3.hidden-xs
								ul.pd-left.font-text
									li 
										a.color-n(href="#") Al fondo hay sitio
									li 
										a.color-n(href="#") Alejandro Toledo
									li 
										a.color-n(href="#") Pablo Escobar
									li 
										a.color-n(href="#") Alianza Lima
									li 
										a.color-n(href="#") Pension 65
									li 
										a.color-n(href="#") Banco de la Nación
									li 
										a.color-n(href="#") Precio del dòlar
									li 
										a.color-n(href="#") Universidad Cesar Vallejo
									li 
										a.color-n(href="#") Universidad San Martin
									li 
										a.color-n(href="#") Premier League
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") Bayern Munich
									li 
										a.color-n(href="#") BBVA
									li 
										a.color-n(href="#") Reniec
									li 
										a.color-n(href="#") BCP
									li 
										a.color-n(href="#") Batman
									li 
										a.color-n(href="#") PUCP
									li 
										a.color-n(href="#") Real Madrid
									li 
										a.color-n(href="#") BBVA
									li 
										a.color-n(href="#") Xbox
									li 
										a.color-n(href="#") BCP
	hr.hr.hidden-xs
	.bg-fondo.bg-fondo
		.container-fluid
			.pie-pagina.hidden-xs
				.fila.pd.col-md-8.col-md-offset-2
					ul.list-inline.text-center
						-
							list = ["Diarios del PAL", "Clarin", "El Universal Colombia","El Universal Venezuela", "Vanguardia", "La Prensa", "El Salvador", "La Verdad", "Diario Libre"]
					each item in list
						li.b-right= item
mixin edicion(img,h5,a)
	img.img-responsive(src=img)
	h5
		strong=h5
	a(href="#")=a
mixin infografia(img)
	img.img-responsive.mg(src=img)
mixin pregunta(img,subti,p,input,input2,boton,a)
	img.img-responsive(src=img)
	h4.text-center 
		strong= subti
	p=p
	p.text-center
		input(type='radio')
		|  Si
	p.text-center
		input(type='radio')
		|  No
	p.text-center
		button.bg-c-rojo=boton
	p.text-center
		strong
			a.c_rojo(href="#")=a
mixin pregunta2(subti,p,img,a)
	h5.text-center
		strong=subti
	p=p
	img.barra.img-responsive(src=img)
	p.text-center
		strong
			a.c_rojo(href="#")=a
mixin foto-img(foto,titulo,p2)
	div
		.col-md-6
			img(src=foto)
		.col-md-6
			p
				strong=titulo
	p.c_rojo.text-center=p2
mixin reportero(img,titu,foto,subti,p)
	img.img-responsive(src=img)
	h4.text-center
		strong=titu
	img.auto.img-responsive(src=foto)
	h5
		strong=subti
	p=p



